body{
    background-image:url('../images/pic1.jpg');
    width: 100%;
    height: 100vh;
padding: 0px;
margin: 0px;
}
h1{
    text-align: center;
    font-weight: bold;
}
.que{
    text-align: center;
    font-size: 34px;
    color: blue;
    padding: 20px;
    width: 60%;
}
.option{
    color: aqua;
    margin-left: 20px;
}
.submit input{
    width: 200px;
    margin: 10px;
}