<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nitya Fitness</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}"
</head>
<style>
h1{
    text-align:center;
}
</style>
<body>
<h1>Hello welcome to Django test series</h1>

<div class="que">{{que}}</div>
{% if level %}
    {{ level }}
{% else %}
    Level not definied 
{% endif %}
<div class="option"><input type="radio" name="ans"><span>{{a}}</span>
<h2> above line contain{{a|upper}} word</h2></div>
<div class="option"><input type="radio" name="ans"><span>{{b}}</span></div>
<div class="option"><input type="radio" name="ans"><span>{{c}}</span></div>
<div class="option"><input type="radio" name="ans"><span>{{d}}</span></div>
<div class="submit">
 <input type="submit" >
 </div>
{%lorem%}
</body>
</html>